@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    font-family: Poppins;
    color: #000000;
}


/* HOMEPAGE */

.background {
    background-image: url('../img/bg-img.png');
    background-size: 110%;
    background-position: center;
    background-repeat: space;
}

.main {
    height: 843px;
    width: 960px;
    left: 240px;
    top: 135px;
    border-radius: 0px;
}

#logo-main {
    height: 30%;
    width: 30%;
    left: 48px;
    border-radius: 0px;
}

#tagline {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-style: bold;
    line-height: 97%;
    text-align: center;
    Vertical-align: top;
    letter-spacing: 1px;
}

.light {
    padding-top: 3%;
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.75px;
    text-align: center;
}


/* DROPDOWN */

.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 504px;
    max-height: 72px;
}

.semirounded {
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 16px 0px 0px 16px;
}

option {
    background-color: white;
    text-align: center;
}

option:after {
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.form-control {
    background-color: #E0CCAB;
    height: 64px;
    width: 408px;
    left: 96px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    border-radius: 0px 16px 16px 0px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.no-underline {
    text-decoration: none;
}

.btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 72px;
    margin-top: 30px;
}

.btn-primary {
    background-color: #981F26;
    box-shadow: 0px 20px 24px 0px #1111110F;
    text-align: center;
    border-radius: 16px;
    line-height: 38px;
    letter-spacing: 0.75px;
}

.red-btn:hover {
    background-color: #7f1c21;
}

.alert-btn {
    font-size: 24px;
    font-weight: 600;
    width: 504px;
    height: 72px;
}


/* LOCATION PAGE */

.disaster-container {
    color: white;
    background-color: black;
    padding: 2% 0% 0% 10%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    position: absolute;
    /* left: 6.94%; */
    right: 0%;
    top: 0%;
    bottom: 0%;
}