@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    font-family: Poppins;
    color: #000000;
}


/* HOMEPAGE */

.background {
    background-image: url('../img/bg-img.png');
    background-size: 110%;
    background-position: center;
    background-repeat: space;
}

.main {
    height: 843px;
    width: 960px;
    left: 240px;
    top: 135px;
    border-radius: 0px;
}

#logo-main {
    height: 316px;
    width: 316px;
    left: 48px;
    top: 300px;
    border-radius: 0px;
}

#tagline {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-style: bold;
    line-height: 97%;
    text-align: Center;
    Vertical-align: top;
    letter-spacing: 1px;
}

.light {
    padding-top: 5%;
    font-weight: 400px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;
    text-align: center;
}


/* DROPDOWN */

.semirounded {
    background-color: #000000;
    color: white;
    left: 0px;
    top: 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px 0px 0px 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

option {
    background-color: white;
}

option:after {
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.form-control {
    background-color: #E0CCAB;
    height: 64px;
    width: 408px;
    left: 96px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    border-radius: 0px 16px 16px 0px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.btn-container {
    align-content: center;
    text-align: center;
    border: 7px solid red;
    width: 300px;
    height: 200px;
    padding-top: 100px;
}

.alert-btn {
    background-color: #981F26;
    box-shadow: 0px 20px 24px 0px #1111110F;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.75px;
    text-align: center;
}

.alert-btn:hover {
    background-color: #7f1c21;
}


/* LOCATION PAGE */

.disaster-container {
    color: white;
    background-color: black;
    padding: 2% 0% 0% 10%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    position: absolute;
    /* left: 6.94%; */
    right: 0%;
    top: 0%;
    bottom: 0%;
}


/* SIDEBAR MENU */


/* Auto layout */


/* A!ERT/NAV MENU BAR */

background: #000000;

/* Drop Shadow Large */

box-shadow: 0px 32px 64px rgba(17,
17,
17,
0.08);