@charset "utf-8";

/*
Technova Hackathon 2022

Authors/Collaborators: Sidra Naru, Rehannah Baptiste, Aileen Lao
Date: 8/26/2022 
Filename: map.css
*/

#map {
    height: 85vh;
    width: 100%;
    z-index: 0;
}