@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.navbar {
    font-family: Poppins;
    background-color: #96712A;
    height: 96px;
    left: 0px;
    top: 0px;
    padding: 16px, 236px, 16px, 236px;
    border-radius: 0px;
    justify-content: space-between;
    z-index: 1;
}

.nav-ul {
    padding: 10%;
}

#logo {
    height: 47px;
    width: 70px;
    left: 27px;
    top: 71px;
    border-radius: 0px;
}

.nav-link {
    color: black;
    font-style: semibold;
    font-size: 24px;
    line-height: 38px;
    vertical-align: center;
}

.nav-link:hover {
    color: #A4C4CF;
}

.active .nav-link {
    color: #A4C4CF !important;
    text-decoration: underline;
}